@keyframes progress-width {
  from {
    width: 0%;
  }

  to {
    width: calc(100% - 8px);
  }
}

body {
  background: #666;
  width: 100%;
  margin: 0 auto;
  font-family: 'Source Sans Pro', Arial, sans-serif;
  overflow: hidden;
}

.mega-white {
  font: 800 60px/1 'Source Sans Pro', Arial, sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: -3px;
  text-shadow: 0 1px 0 hsl(174,5%,80%), 0 2px 0 hsl(174,5%,75%), 0 3px 0 hsl(174,5%,70%), 0 4px 0 hsl(174,5%,66%), 0 5px 0 hsl(174,5%,64%), 0 6px 0 hsl(174,5%,62%), 0 7px 0 hsl(174,5%,61%), 0 8px 0 hsl(174,5%,60%), 0 0 5px rgba(0,0,0,.05), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.3);
  margin: 20px 0px 20px 0px;
}

.mini-white {
  font: 800 36px/1 'Source Sans Pro', Arial, sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: -3px;
  text-shadow: 0 1px 0 hsl(174,5%,80%), 0 2px 0 hsl(174,5%,75%), 0 3px 0 hsl(174,5%,70%), 0 4px 0 hsl(174,5%,66%), 0 5px 0 hsl(174,5%,64%), 0 0 5px rgba(0,0,0,.05), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.2);
  margin: 20px 0px 20px 0px;
}

.mini-blue {
  font: 800 36px/1 'Source Sans Pro', Arial, sans-serif;
  color: #616161;
  text-align: center;
  letter-spacing: -3px;
  text-shadow: 0 1px 0 hsl(174,5%,30%), 0 2px 0 hsl(174,5%,25%), 0 3px 0 hsl(174,5%,20%), 0 4px 0 hsl(174,5%,16%), 0 5px 0 hsl(174,5%,14%), 0 0 5px rgba(0,0,0,.05), 0 1px 3px rgba(0,0,0,.2), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.2), 0 10px 10px rgba(0,0,0,.2);
  margin: 10px 0px 10px 0px;
  filter: sepia(100%) hue-rotate(170deg) saturate(500%);
}

.progress-bar {
  width: calc(98% - 4px);
  height: 40px;
  background: #444;
  border: 2px solid rgba(0,0,0,0.1);
  margin: 0 auto;
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  position: relative;
}

.progress-fill {
  width: calc(50% - 8px);
  height: 32px;
  background: linear-gradient(#5ea76e, #4a8457);
  margin: 3px;
  border: 1px solid rgb(68, 142, 82);
}

.progress-animated {
  animation-duration: 5s;
  animation-name: progress-width;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.progress-text {
    text-align: center;
    position: absolute;
    width: 100%;
    top: 6px;
    margin: 0 auto;
    font-size: 24px;
    color: white;
    text-shadow: 0px 0px 6px #000;
}

.shadow-text {
  margin: 0 0 5px 0;
  font-size: 24px;
  color: white;
  text-shadow: 0px 0px 6px #000;
  text-align: center;
}

.grid-container {
  width:40%;
  height:60vh;
  background: #444;
  border: 2px solid rgba(0,0,0,0.1);
  margin: 0 auto;
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  position: relative;
  padding: 1px;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.grid-box {
  width:calc(25% - 7.5px);
  height:calc(33% - 5px);
  background: #888;
  border: 2px solid rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  display: inline-block;
  position: relative;
}

.grid-box img {
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  position: absolute;
  z-index: 500;
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));
  filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));
}

.grid-box img:hover {
  -webkit-filter: drop-shadow(4px 2px 6px rgba(0,0,0,0.5));
  filter: drop-shadow(4px 4px 6px rgba(0,0,0,0.5));
}

.grid-box img:active {
  -webkit-filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.5));
  filter: drop-shadow(8px 8px 8px rgba(0,0,0,0.5));
}

.left-container {
  position: absolute;
  width: 28%;
  left: 1%;
  height: 60%;
  background: #444;
  border: 2px solid rgba(0,0,0,0.1);
  margin: 0 auto;
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.right-container {
  position: absolute;
  width: 28%;
  right: 1%;
  height: 60%;
  background: #444;
  border: 2px solid rgba(0,0,0,0.1);
  margin: 0 auto;
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.side-text {
  height: calc(20% - 10px);
  max-height: calc(20% - 10px);
  margin: 0 auto;
  margin-top: 10px;
}

.gallery-container {
  width:98%;
  height:calc(80% - 8px);
  background: #444;
  border: 2px solid rgba(0,0,0,0.1);
  margin: 0 auto;
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  position: relative;
  padding: 1px;
}

.gallery-box {
  width:calc(25% - 7.5px);
  height:calc(33% - 5px);
  background: #888;
  border: 2px solid rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  display: inline-block;
  position: relative;
}

.gallery-box img {
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  position: absolute;
  z-index: 500;
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));
  filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));
}

.trash-box {
  width: 50px;
  height: 50px;
  right: 10px;
  bottom: 10px;
  background: #963333;
  border: 2px solid rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  display: inline-block;
  position: absolute;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.trash-box i {
  display:inline-block;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  line-height: 50px;
  color: #5f1d1d;
}

.trash-box img {
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  position: absolute;
  z-index: 500;
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));
  filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));
}

.deposit-box {
  float:left;
  margin: 8px;
  width: 50px;
  height: 50px;
  background: #888;
  border: 2px solid rgba(0,0,0,0.1);
  -o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -icab-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -khtml-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  display: inline-block;
  position:relative;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.deposit-box img {
  width: 75%;
  top: 12.5%;
  left: 12.5%;
  position: absolute;
  z-index: 500;
  -webkit-filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));
  filter: drop-shadow(1px 1px 4px rgba(0,0,0,0.5));
}

.upgrade-button {
  display: inline-block;
  font-weight: 500;
  height: 50px;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1.5rem;
  line-height: 2;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .25s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  color: #fff;
  background-color: #23272b;
  border: none;
  -o-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  -icab-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  -khtml-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(0, 0, 0, 0.4);
  margin: 5px 0px 10px 5px;
  cursor: pointer;
}

.upgrade-button:hover {
  background-color: #1d2124;
}
